<div class="create-host-place">
  <form class="host-form">
    <div class="host-place__form">
      @for (field of hostFormFields; track field; let i = $index) {
      <div [class]="getDivClass(i)">
        @if (field.inputType === 'autocomplete') {
        <ntv-autocomplete
          [label]="field.label"
          [options]="options"
          [config]="{placeholder: 'Select a License...', searchable: true, clearable: true}"
          [size]="'md'"
          [variant]="'default'"
        ></ntv-autocomplete>
        } @else {
        <ntv-input
          [id]="field.name"
          [label]="field.label"
          [placeholder]="field.placeholder"
          [type]="'text'"
          variant="'accent'"
        ></ntv-input>
        }
      </div>
      }
    </div>
  </form>
</div>
